body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /*margin: 0;*/
    /* display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 33%;
    margin-top: 160px;

}

label {
    margin-bottom: 8px;
    display: block;
}

input,
select,
button {
    margin-bottom: 16px;
    width: 96%;
    padding: 8px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/*layout para ficar responsivo em telas grandes  ( computadores acima de 1080px )*/
#mapa {
    margin-top: -90%;
    height: 0;
    transition: height 0.5s;
    margin-left: 57px;
    width: 500px;
    height: 433px;
    border: solid 2px;
    border-radius: 20px;
}

#resultado {
    margin-top: 20px;
}

.mapa-container {
    float: right;
    width: 50%;
    /* Ajuste conforme necessário */
}

.footer {
    display: none;
    margin-top: 15px;
}


/*layout para ficar responsivo em telas menores ( celulares abaixo de)*/
@media (max-width: 860px) {


    .container {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 75%;
        margin-top: 7%;
        margin-left: 2%;
    }

    .mapa-container {
        float: none;
        width: 100%;
        height: auto;
        /* Certifique-se de que o contêiner tenha uma altura suficiente para acomodar o espaçamento */
        margin-bottom: 4%;
        /* Adicione um espaçamento entre o mapa e a parte inferior do contêiner */
    }

    #mapa {
        margin-top: 8%;
        transition: height 0.5s;
        margin-left: 13px;
        border: solid 2px;
        border-radius: 20px;
        width: 334px;
        min-height: 100px;
        /* Ou ajuste conforme necessário */
    }
}